@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto+Mono&display=swap');

body{
	background-color: #051D3B;
	font-family: 'Inter',sans-serif;
    font-weight: 400;
    padding-top: 32px;
    padding-left: 32px;
    padding-right: 32px;
    
}

.corpo{
    display: flex;
    justify-content: space-between;
    padding-top:20px;
}

h1{
    color: white;
    font-size: 12px;
    letter-spacing: 0.4em;
    text-transform:uppercase;
}