
.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 56px;
    margin-bottom: 32px;
}

.cabecalho__logo{
    /* width: 10%; */
}
.cabecalho__buscar{
    width: 45vw;
    margin-right: 125px;
}


.cabecalho__perfil{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* width: 10%; */
}

.perfil__foto{
    margin-right:10px ; 
}


.perfil__nome{
    color: white;
}