
.projeto{
    display: flex;
    flex-direction: column;
    width: 15vw;
}

.projeto h1{
    font-size: 11px;
    margin: 20px 0;
}
.seu__projeto{
    display: flex;
    flex-direction: column;
}

.descricao__projeto{
    height: 80px;
    resize: none;
    
    font-family: inherit;
    padding-top: 10px;  
  
}

.linguagens__opcoes{
    color : black;

}

.input__cor{
    border-radius: 8px;
    box-sizing: border-box;
}

.projeto__botao{
    cursor: pointer;
    color: black;
    background: #5081FB;
    height: 50px;
}
